<a href="https://colab.research.google.com/github/Hassanjaved2/programming-for-AI/blob/main/lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Access List Items
   
   •	Create a list of fruits.
  
  •	Print the first and last items of the list.

In [17]:
fruits = ["apple", "banana", "cherry", "date", "mango"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: apple
Last item: mango

2. Change List Items

    •	Create a list of colors.

    •	Change the second item in the list to "blue".

In [2]:
colors = ["red", "green", "yellow", "orange"]
colors[1] = "blue"
print("Updated colors:", colors)

Updated colors: ['red', 'blue', 'yellow', 'orange']

3. Add List Items

    •	Create a list of numbers.
    
    • Add the number 10 at the end of the list.

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated numbers:", numbers)

Updated numbers: [1, 2, 3, 4, 5, 10]

4. Remove List Items

   •	Create a list of animals.
   
   •	Remove the third item from the list.

In [18]:
animals = ["dog", "cat", "rabbit", "lion"]
del animals[2]
print("Updated animals:", animals)

Updated animals: ['dog', 'cat', 'lion']

5. Loop Lists

     •	Create a list of cities.
     
     •	Loop through the list and print each city.

In [19]:
cities = ["Haripur", "Islamabad", "Abbottabad", "Peshawar"]
for city in cities:
    print(city)

Haripur
Islamabad
Abbottabad
Peshawar

6. List Comprehension

     •	Create a list of numbers from 1 to 10.
     
     •	Use list comprehension to create a new list containing the square of each number.

In [6]:
numbers = [i for i in range(1, 11)]
squared_numbers = [num ** 2 for num in numbers]
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7. Sort Lists
       
        •	Create a list of names.
        
        •	Sort the list alphabetically.

In [16]:
names = ["Hassan", "Ali", "Hamza", "Shoukat","Haseeb" ]
names.sort()
print("Sorted Names:",names)

Sorted Names: ['Ali', 'Hamza', 'Haseeb', 'Hassan', 'Shoukat']

8. Copy Lists

      •	Create a list of fruits.
      
      •	Copy the list into a new list.

In [8]:
fruits = ["apple", "banana", "cherry"]
fruits_copy = fruits.copy()
print("Copied list of fruits:", fruits_copy)

Copied list of fruits: ['apple', 'banana', 'cherry']

9. Join Lists

      •	Create two lists of numbers.
      
      •	Join the two lists into a single list.

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print("Joined list:", joined_list)

Joined list: [1, 2, 3, 4, 5, 6]

10. List Methods

      •	Create a list of fruits.
      
      •	Use the append() method to add a new fruit to the list.
      
      •	Use the pop() method to remove the last fruit from the list.

In [10]:
fruits = ["apple", "banana", "cherry"]
fruits.append("date")
print("Fruits after append:", fruits)
fruits.pop()
print("Fruits after pop:", fruits)

Fruits after append: ['apple', 'banana', 'cherry', 'date']
Fruits after pop: ['apple', 'banana', 'cherry']

11. Combining Lists and List Comprehension

     •	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
     
     •	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print("Sum of corresponding elements:", sum_list)

Sum of corresponding elements: [7, 9, 11, 13, 15]

12. Filtering and Sorting

     Create a list of numbers.
     
     • Use list comprehension to create a new list containing only the even numbers from the original list.
     
     • Sort the new list in descending order.

In [12]:
numbers = [23, 14, 56, 8, 12, 47, 9, 30]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print("Sorted even numbers in descending order:", even_numbers)

Sorted even numbers in descending order: [56, 30, 14, 12, 8]

13. List Slicing and Reversing

     •	Create a list of numbers from 1 to 10.
     
     •	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers_reverse = numbers[1::2][::-1]
print("Even numbers in reverse order:", even_numbers_reverse)

Even numbers in reverse order: [10, 8, 6, 4, 2]

 14. Combining Lists and List Methods

     •	Create two lists, one containing even numbers and another containing odd numbers.
     
     •	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [14]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print("Combined list:", combined_list)

Combined list: [2, 1, 4, 3, 6, 5, 8, 7, 10, 9]