<a href="https://colab.research.google.com/github/Hassanjaved2/Lab-1/blob/main/Lab_2_%26_3_Hassan_Javed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Print at least 5 types of data type

In [21]:
a=5
print(a)
print(type(a))                   #Integer

b=7
print(b)
print(type(b))                   #Integer

c=9
print(c)
print(type(c))                  #Integer

d=1
print(d)
print(type(d))                  #Integer

e=6
print(e)
print(type(e))                  #Integer

q=2+3j
print(q)
print(type(q))                 #Complex

i=1+2j
print(i)
print(type(i))                 #Complex

l=5+2j
print(l)
print(type(l))                 #Complex

h=1+0j
print(h)
print(type(h))                #Complex

s=3+8j
print(s)
print(type(s))                 #Complex

f=3.14
print(f)
print (type(f))               #Float

k=2.13
print(k)
print (type(k))                #Float

a=1.98
print(a)
print (type(a))                #Float

m=9.21
print(m)
print (type(m))                #Float

j=2.22
print(j)
print (type(j))                 #Float

5
<class 'int'>
7
<class 'int'>
9
<class 'int'>
1
<class 'int'>
6
<class 'int'>
(2+3j)
<class 'complex'>
(1+2j)
<class 'complex'>
(5+2j)
<class 'complex'>
(1+0j)
<class 'complex'>
(3+8j)
<class 'complex'>
3.14
<class 'float'>
2.13
<class 'float'>
1.98
<class 'float'>
9.21
<class 'float'>
2.22
<class 'float'>

Example of type conversion for each (minimum 3):

In [12]:
# Integer to float
integer_number = 10
float_number = float(integer_number)
print(float_number)

# Float to integer
float_number = 3.14
integer_number = int(float_number)
print(integer_number)

# Complex to string
complex_number = 2+4j
string_number = str(complex_number)
print(string_number)

10.0
3
(2+4j)

3.	Assign multiple strings to single variable with your name , registration number, program , semester etc

In [20]:
information = "Name: Hassan Javed, Reg. No: B21F0380AI042, Program: Artificial Intelligence, Semester: Fall 2021"
print(information)

Name: Hassan Javed, Reg. No: B21F0380AI042, Program: Artificial Intelligence, Semester: Fall 2021

4.	Write Your country name and access the last 3 characters

In [14]:
country = "Pakistan"
last_three_chars = country[-3:]
print(last_three_chars)

tan

5.	Write code and observe using len() function it count space or not.

In [15]:
text = "Hello World"
print(len(text))

11

6.	Write code to access the 2nd and 3rd character of your name using negative indexes.

In [16]:
name = "Hassan Javed"
second_char = name[-4]  # Second character
third_char = name[-3]   # Third character
print(second_char, third_char)

a v

7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [19]:
# With indexes
text = "My name is {0} and I am {1} years old."
formatted_text = text.format("Hassan", 22)
print(formatted_text)

# Without indexes
text = "My name is {} and I am {} years old."
formatted_text = text.format("Hassan", 22)
print(formatted_text)

My name is Hassan and I am 22 years old.
My name is Hassan and I am 22 years old.

8.	Take input from user and  than display it like “John age is: age”

In [18]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"{name}'s age is: {age}")

Enter your name: Hassan Javed
Enter your age: 22
Hassan Javed's age is: 22